@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

* {
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background: #fff;
    color: #333;
}

div {
    display: block;
    position: relative;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.button {
    display: inline-block;
    background: #4c9de7;
    border-radius: 6px;
    height: 48px;
    transition: all 200ms ease;
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #fff;
    padding: 0 40px;
}

.button:hover {
    opacity: 0.85;
}

.contact_info {
    width: 100%;
    padding-top: 60px;
}

.contact_info_item {
    width: calc((100% - 60px) / 3);
    height: 100px;
    border: solid 1px #e0e0e0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 25px;
    margin-bottom: 20px;
    transition: all 200ms ease;
}

.contact_info_item:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.contact_info_image {
    width: 40px;
    height: 40px;
    text-align: center;
}

.contact_info_image img {
    max-width: 100%;
}

.contact_info_content {
    padding-left: 20px;
}

.contact_info_title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
}

.contact_info_text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

/* Contact Form Styles */
.contact_form {
    padding-top: 90px;
}

.contact_form_title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 40px;
}

.contact_form_inputs {
    margin-bottom: 35px;
}

.input_field {
    width: calc((100% - 60px) / 3);
    height: 55px;
    padding-left: 28px;
    border: solid 1px #d1d1d1;
    border-radius: 6px;
    outline: none;
    color: #0073e6;
    transition: all 200ms ease;
}

.input_field:focus, .text_field:focus {
    border-color: #bbb;
}

.input_field:hover, .text_field:hover {
    border-color: #bbb;
}

.input_field::placeholder, .text_field::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.text_field {
    width: 100%;
    height: 170px;
    padding-left: 28px;
    padding-top: 16px;
    border: solid 1px #d1d1d1;
    border-radius: 6px;
    color: #0073e6;
    outline: none;
    transition: all 200ms ease;
}

.contact_submit_button {
    padding: 0 40px;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 28px;
    background: #4c9de7;
    transition: all 200ms ease;
}

.contact_submit_button:hover {
    background: #357ab7;
}

.panel {
    width: 100%;
    height: 50px;
    background: #f7f7f7;
    margin-top: 130px;
}

@media only screen and (max-width: 991px) {
    .contact_info_item {
        width: 100%;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .input_field {
        width: 100%;
        margin-bottom: 25px;
    }

    .input_field:last-child {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 575px) {
    .contact_submit_button {
        font-size: 15px;
        padding: 0 30px;
    }
}
